.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.username-wrapper {
  flex-direction: column;
  text-align: center;
  padding: 2%;
  justify-content: center;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
}

.password-box {
  display: flex;
  padding: 1.5%;
  margin: 1%;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.account-creation-success-error-message {
  justify-content: center;
  margin: 2.5%;
  margin-bottom: 1%;
}
