.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.btn-wrapper {
  margin-left: 25%;
  margin-top: 5%;
}

.error-message {
  margin-top: 1%;
}

.title {
  color: #6acc01;
}
