.TabSelector {
  justify-content: center;
}

.settings-page-wrapper {
  display: flex;
  flex-direction: column;
}

.goals-form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}
